<!-- CodeStitch HTML code -->
<header>
  <!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1712">
  <picture class="cs-background">
      <!--Mobile Image-->
      <source media="(max-width: 600px)"
              srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting-women.jpeg">
      <!--Tablet and above Image-->
      <source media="(min-width: 601px)"
              srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting-women.jpeg">
      <img loading="lazy" decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting-women.jpeg"
              alt="busines meeting" width="522" height="609" aria-hidden="true">
  </picture>
  <div class="cs-container">
      <div class="cs-wrapper">
          <div class="cs-content">
              <span class="cs-topper">Your Steps</span>
              <h2 class="cs-title">How To Change Your Life</h2>
          </div>
          <ul class="cs-card-group">
              <li class="cs-item">
                  <span class="cs-number">01</span>
                  <div class="cs-flex">
                      <h3 class="cs-h3">Connect With Us</h3>
                      <p class="cs-item-text">
                          Protecting your family and securing their future starts with a conversation. We are here to help you every step of the way.
                      </p>
                  </div>
              </li>
              <li class="cs-item">
                  <span class="cs-number">02</span>
                  <div class="cs-flex">
                      <h3 class="cs-h3">Assess Your Needs</h3>
                      <p class="cs-item-text">
                          Our team of experts will help you identify your unique needs and create a customized plan that fits your lifestyle.
                  </p>
                  </div>
              </li>
              <li class="cs-item">
                  <span class="cs-number">03</span>
                  <div class="cs-flex">
                      <h3 class="cs-h3">Review Your Options</h3>
                      <p class="cs-item-text">
                          With over 30 carriers to choose from, we will help you compare rates and coverage options to find the best fit for you.
                      </p>
                  </div>
              </li>
              <li class="cs-item">
                  <span class="cs-number">04</span>
                  <div class="cs-flex">
                      <h3 class="cs-h3">Join The Crowd</h3>
                      <p class="cs-item-text">
                          You'll join an exclusive group of people. Those who have taken control of their future and secured their family's well-being.
                      </p>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</section>
                              
</header>

<style>
  /*-- -------------------------- -->
<---          Steps             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-1712 {
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #steps-1712 .cs-container {
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  #steps-1712 .cs-wrapper {
    /* changes to 630px on tablet */
    max-width: 31.25rem;
    margin: auto;
    padding: var(--sectionPadding);
    display: flex;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps-1712 .cs-content {
    /* set text align to center if content needs to be centrally aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* aligns content to the left, set to center to centrally align */
    align-items: flex-start;
  }
  #steps-1712 .cs-title {
    margin: 0;
  }
  #steps-1712 .cs-card-group {
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: stretch;
    /* 24px - 32px */
    gap: clamp(1.5rem, 3vw, 2rem);
    grid-auto-flow: row;
  }
  #steps-1712 .cs-item {
    list-style: none;
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  #steps-1712 .cs-number {
    /* 80px - 100px */
    font-size: clamp(5rem, 9vw, 6.25rem);
    font-weight: 900;
    line-height: 1.2em;
    letter-spacing: -2px;
    margin-right: -1.25rem;
    color: var(--primary);
    opacity: 0.12;
    display: block;
  }
  #steps-1712 .cs-h3 {
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #steps-1712 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2vw, 1rem);
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #steps-1712 .cs-background {
    width: 100%;
    height: 22.5rem;
    display: block;
  }
  #steps-1712 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-1712 {
    padding: var(--sectionPadding);
  }
  #steps-1712 .cs-container {
    padding: 0;
    justify-content: flex-start;
  }
  #steps-1712 .cs-title {
    margin: 0;
  }
  #steps-1712 .cs-wrapper {
    width: 65vw;
    max-width: 39.375rem;
    margin: 0;
    padding: 0;
  }
  #steps-1712 .cs-card-group {
    /* 16px - 32px */
    gap: clamp(1rem, 3vw, 2rem);
  }
  #steps-1712 .cs-item {
    flex-direction: row;
  }
  #steps-1712 .cs-picture {
    width: 11.25rem;
    height: 11.25rem;
  }
  #steps-1712 .cs-background {
    width: 30%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #steps-1712 .cs-wrapper {
    width: 50vw;
  }
  #steps-1712 .cs-background {
    width: 50vw;
    left: 50%;
    right: auto;
    margin-left: 8rem;
  }
}
                                
</style>

<script>
  // CodeStitch JS code
</script>